$secondary-color: #d50000; // red accent-4

$cyan-lighten-5: #e0f7fa;
$cyan-lighten-4: #b2ebf2;
$cyan-lighten-3: #80deea;
$cyan-lighten-2: #4dd0e1;
$cyan-lighten-1: #26c6da;

$yellow-accent-2: #ffff00;
